{% extends 'profile/_profile.html' %}
{% load staticfiles i18n customfilters %}
{% block contentprofile %}
    <!-- begin col-8 -->
    <div class="col-md-8 col-md-offset-2">
        <!-- begin post-list -->
        <ul class="post-list">
            {% for offer in offers_list %}
                <li>
                    <!-- begin post-left-info -->
                    <div class="post-left-info">
                        <div class="post-date">
                            <span class="day">{{ offer.created_at|date:"d" }}</span>
                            <span class="month">{{ offer.created_at|date:"M" }}</span>
                        </div>
                    </div>
                    <!-- end post-left-info -->
                    <!-- begin post-content -->
                    <div class="post-content">
                        <!-- begin post-image -->
                        <div class="post-image">
                            <a href="{% url 'post_details' offer.pk offer.slug %}">
                                <img src="{% static 'assets/img/post4.jpg' %}" alt=""/>
                            </a>
                        </div>
                        <!-- end post-image -->
                        <!-- begin post-info -->
                        <div class="post-info">
                            <h4 class="post-title">
                                <a href="{% url 'post_details' offer.pk offer.slug %}">{{ offer.job_title }}</a>
                            </h4>
                            <div class="post-by">
                                Posted By <a href="#">{{ offer.company_name }}</a>
                                <span class="divider">|</span>
                                {% for sector in offer.sector_activity.all %}
                                    <a href="#">{{ sector }}</a> {% if not forloop.last %},{% endif %}
                                    {% if forloop.last %}<span class="divider">|</span>{% endif %}
                                {% endfor %}
                                Created at : {{ offer.created_at|date:"d F Y" }}
                            </div>
                            <div class="post-desc">
                                {{ offer.description|truncatechars:350 }}
                            </div>
                        </div>
                        <!-- end post-info -->
                        <!-- begin read-btn-container -->
                        <div class="read-btn-container">
                            <a href="{% url 'post_delete' offer.pk %}" class="read-btn">Delete
                                <i class="fa fa-trash"></i>
                            </a>
                            <a href="{% url 'post_edit' offer.pk %}" class="read-btn">Edit
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="{% url 'post_details' offer.pk offer.slug %}" class="read-btn">Read More
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                        <!-- end read-btn-container -->
                    </div>
                    <!-- end post-content -->
                </li>
            {% empty %}
                <li>Not Found. Please add new post</li>
            {% endfor %}
        </ul>
        <!-- end post-list -->
        <div class="section-container">
            <!-- begin pagination -->
            <div class="pagination-container text-center">
                {% include 'layout/_paginator.html' %}
            </div>
            <!-- end pagination -->
        </div>
    </div>
    <!-- end col-8 -->
{% endblock %}