{% extends 'profile/_profile.html' %}
{% load staticfiles i18n customfilters %}
{% block contentprofile %}
    <!-- begin col-8 -->
    <div class="col-md-8 col-md-offset-2">
        {% if form.non_field_errors %}
            <p>{{ form.non_field_errors }}</p>
        {% endif %}
        {{ form.errors }}
        <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group {% if field.errors %} has-error {% endif %}">
                    <label class="control-label">
                        {{ field.label }} {% if field.errors %} {{ field.errors.as_text }} {% endif %}
                        {% if field.is_required %} <span class="text-danger">* </span> {% endif %}

                    </label>
                    {{ field|add_css:"form-control,off" }}
                </div>
            {% endfor %}
            <div class="form-group">
                <label class="control-label"></label>
                <div class="text-center">
                    <button type="submit" class="btn btn-inverse btn-lg">
                        Submit
                    </button>
                    <a href="{% url 'my_post_list' %}" type="reset" onclick="" class="btn btn-danger btn-lg">
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
    <!-- end col-8 -->
{% endblock %}