<!-- begin section-container -->
<form class="section-container" method="get" role="form" action="{% if archived %}{% url 'archived_post_list' %}{% else %}{% url 'recent_post_list' %}{% endif %}">
    <tr>
        <th><label>Search By:</label></th>
    </tr>
    <br/>
    <label>Name:</label>
    <div class="input-group sidebar-search">
        <input type="text" name="search" class="form-control" placeholder="Search Our Offers..."/>
        <span class="input-group-btn">
            <button class="btn btn-inverse" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
    <label>Region:</label>
    <div class="input-group sidebar-search">
        <select id="id_region" class="form-control" name="region">
            <option value="">--------</option>
            <option value="ariana">Ariana</option>
            <option value="beja">Beja</option>
            <option value="ben arous">Ben Arous</option>
            <option value="bizert">Bizert</option>
            <option value="gabes">Gabes</option>
            <option value="gafsa">Gafsa</option>
            <option value="jendouba">Jendouba</option>
            <option value="kairouan">Kairouan</option>
            <option value="kasserine">Kasserine</option>
            <option value="kebili">Kebili</option>
            <option value="kef">Kef</option>
            <option value="mahdia">Mahdia</option>
            <option value="manouba">Manouba</option>
            <option value="medenine">Medenine</option>
            <option value="monastir">Monastir</option>
            <option value="nabeul">Nabeul</option>
            <option value="sfax">Sfax</option>
            <option value="sidi bouzid">Sidi Bouzid</option>
            <option value="siliana">Siliana</option>
            <option value="sousse">Sousse</option>
            <option value="tataouine">Tataouine</option>
            <option value="tozeur">Tozeur</option>
            <option value="tunis">Tunis</option>
            <option value="zaghouan">Zaghouan</option>
        </select>
        <span class="input-group-btn">
            <button class="btn btn-inverse" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</form>
<!-- end section-container -->
<!-- begin section-container -->
{% if categories %}
    <form class="section-container" method="get" role="form" action="{% if archived %}{% url 'archived_post_list' %}{% else %}{% url 'recent_post_list' %}{% endif %}">
        <h4 class="section-title"><span>Categories</span></h4>
        <ul class="sidebar-list">
            {% for category in categories %}
                <li>
                    <input id="id_{{ category.name }}" name="category" type="submit" value="{{ category.name }}"
                           hidden/>
                    <a href="#" onclick="document.getElementById('id_{{ category.name }}').click();">
                        {{ category.name }} ({{ category.count }})
                    </a>
                </li>
            {% endfor %}
        </ul>
    </form>
{% endif %}
<!-- end section-container -->
<!-- begin section-container -->
<div class="section-container">
    <h4 class="section-title"><span>Recent Post</span></h4>
    <ul class="sidebar-recent-post">
        {% for recent in recent_offers %}
            <li>
                <div class="info">
                    <h4 class="title">
                        <a href="{% url 'post_details' recent.pk recent.slug %}">{{ recent.job_title }}</a>
                    </h4>
                    <div class="date">{{ recent.created_at|date:"d F Y" }}</div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
<!-- end section-container -->
<!-- begin section-container -->
<div class="section-container">
    <h4 class="section-title"><span>Follow Us</span></h4>
    <ul class="sidebar-social-list">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    </ul>
</div>
<!-- end section-container -->