<!-- begin #header -->
<div id="header" class="header navbar navbar-default navbar-fixed-top">
    <!-- begin container -->
    <div class="container">
        <!-- begin navbar-header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{% url 'index' %}" class="navbar-brand">
                    <span class="brand-text">
                        JOB LOOKUP
                    </span>
            </a>
        </div>
        <!-- end navbar-header -->
        <!-- begin navbar-collapse -->
        <div class="collapse navbar-collapse" id="header-navbar">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_employer %}
                    <li><a href="{% url 'recent_post_list' %}">HOME</a></li>
                {% elif user.is_job_seekers %}
                    <li><a href="{% url 'recent_cv_list' %}">HOME</a></li>
                {% else %}
                    <li><a href="/">HOME</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    {% if user.is_employer %}
                        <li><a href="{% url 'archived_post_list' %}">ARCHIVED POSTS</a></li>
                    {% endif %}
                    <li><a href="{% url 'profile' %}">PROFILE</a></li>
                    <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">LOGIN</a></li>
                    <li class="dropdown">
                        <a href="javascript:;" data-toggle="dropdown" aria-expanded="true">REGISTER <b
                                class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'register' 'employer' %}"><i class="fa fa-upload"></i>
                                    Find jobs | Submit your CV
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'register' 'job_seekers' %}">
                                    <i class="fa fa-file-pdf-o"></i>
                                    Find Employers | Submit your Offer
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- end navbar-collapse -->
    </div>
    <!-- end container -->
</div>
<!-- end #header -->